@import 'libs/bootstrap-reboot.min'
@import 'libs/fonts'
@import '../libs/slick.scss'



@import 'base/variables'


body, 
html 
    min-width: 320px
    height: 100%

*
    font-family: 'Roboto-Regular', 'Arial', 'sans-serif'

.page
    min-height: 100vh
    display: grid
    grid-template-rows: auto 1fr auto 
    overflow: hidden

.container
    padding: 0 20px

h1, 
h2, 
h3,
h4, 
h5, 
h6
    margin: 0



@import 'blocks/_header'
@import 'blocks/_media'
@import 'blocks/_promo'

