@media (min-width: 640px)
    .container
        padding: 0 30px

    .header
        &__link
            margin-left: 14px
        &__wrapper
            min-height: 100px

    .promo 
        min-height: 386px
    
    .top-slider
        &__item 
            min-width: 386px
        &__title 
            padding: 50px 0 15px
            margin: 0 auto 30px
            max-width: 522px
            font-size: 3.75em
            line-height: 100%
        &__btn
            padding: 16px 45px
            margin: 0 auto 113px
            display: block
            font-size: 1.12em
            font-weight: 500
            border: none
            border-radius: 3px 
            transition: 0.9s all
            background-color: $main-color
            color: $bg-color
            &:hover
                transform: scale(1.1)
                
        .slick
            &-dots
                bottom: 50px
            &-arrow
                visibility: visible
                width: 56px
                height: 56px
                position: absolute
                right: 0
                z-index: 1
                outline: none
                border: none
            &-prev 
                background-color: $main-color
                top: calc(50% -  56px)
            &-next 
                background-color: $bg-color 
                bottom: calc(50% -  56px)
                
    .services
        padding: 25px 0 0
        &__title
            margin-bottom: 20px
            padding-bottom: 0
            font-size: 48px
            &::after
                display: none
        &__subtitle
            margin: 0 auto 31px 
            padding-bottom: 38px
            position: relative
            font-size: 28px
            &::after
                content: ""
                margin: 0 auto
                position: absolute
                bottom: 0
                left: 0
                right: 0
                width: 100px
                height: 8px
                background-color: $main-color
        &__descr
            font-size: 18px
            line-height: 120%
        &__items
            margin: 0 -25px
            display: flex
            flex-wrap: wrap
        &__item
            width: 50%
            &:nth-last-child(even)
                border-left: none 
            &:nth-last-child(odd)
                border-right: none     
            &:nth-child(7)
                border-bottom: none                
            &:last-child
                border-bottom: none
            &-icons
                margin-bottom: 14px

    .projects 
        padding: 60px 0 20px
        &__item 
            &-img 
                padding: 5px 20px
                max-width: 318px
                max-height: 460px
                border-radius: 4px
            &__inner
                min-height: 417px
            &-link
                font-size: 20px
                line-height: 23px



@media (min-width: 768px)
    .container
        padding: 0 40px
    
    .header
        &__link
            margin-left: 0 
    
    .top-slider
        &__item
            min-height: 465px
        &__title
            margin: 0 auto
            padding: 87px 0 0 
            &::after
                display: none
        &__descr
            margin: 0 auto
            padding: 25px 0 32px
            display: block
            width: 587px
            font-family: 'RobotoCondensed-Regular'
            line-height: 111%
            font-size: 18px

    .call
        text-align: left
        &__wrapper
            display: flex
            justify-content: space-between
            align-items: center
        &__text
            max-width: 427px
        &__title
            font-size: 24px
        &__descr
            font-size: 16px

    .services
        padding: 50px 0 0
        &__title
            margin-bottom: 30px
        &__subtitle
            text-align: left
            &::after
                margin-left: 0
        &__descr
            margin-bottom: 27px
            text-align: left
        &__items
            margin: 0 -35px
        &__item
            padding: 0 65px
            min-height: 334px
            &:hover
                padding: 0 18px
                .services__item-inner
                    padding: 35px 60px 5px 
                    min-height: 288px

    .projects 
        padding: 80px 0 60px
        &__item 
            &-img 
                padding: 5px 20px
                max-width: 318px
                max-height: 460px
                border-radius: 4px
            &__inner
                min-height: 417px
            &-link
                padding: 30px 0
                font-size: 20px
                line-height: 23px
             

@media (min-width: 1024px)
    .container
        max-width: 1200px
        margin: 0 auto
        padding: 0 40px

    .top-slider
        &__item
            min-height: 618px
        &__title
            padding-top: 101px
            max-width: 750px
            font-size: 84px
            letter-spacing: 2px
            line-height: 100%
        .slick-dots
            bottom: 80px

    .call
        &__text
            max-width: 450px

    .services
        padding: 52px 0 0
        &__title
            margin-bottom: 60px
        &__subtitle
            padding-bottom: 46px 
            margin-bottom: 40px
        &__descr
            margin: 0 
            margin-bottom: 32px
            max-width: 608px
        &__item
            padding: 0 17px
            width: 25%
            min-height: 277px 
            &:nth-last-child(odd)
                border-right: 1px solid $bg-color           
            &:nth-child(7)
                border-bottom: 1px solid $bg-color                
            &:last-child
                border-bottom: 1px solid $bg-color
            &:hover
                padding: 0 17px
                .services__item-inner
                    margin: 10px 0 
                    padding: 21px 9px 5px 
                    min-height: 255px


@media (min-width: 1440px)
    .container
        max-width: 1320px

    .header
        &__btn
            margin-right: 90px
    
    .top-slider
        &__item
            min-height: 668px
        &__title 
            padding-top: 107px
            max-width: 865px
            font-size: 96px
        &__descr
            width: 886px
            font-size: 24px
            line-height: 108%
        .slick
            &-arrow
                width: 70px
                height: 70px
            &-prev
                top: calc(50% - 70px)
            &-next
                bottom: calc(50% - 70px)

    .call
        &__wrapper
            padding: 0 80px
        &__text
            max-width: 449px
    .services
        padding: 0
        &__wrapper
            display: flex
            justify-content: space-between
        &__text
            margin-right: 100px
            min-width: 350px
        &__title
            margin: 90px 0 70px
            text-align: left
        &__subtitle
            padding-bottom: 38px 
            margin-bottom: 40px
        &__items
            margin: 0 -200px 0 0
        &__item
            padding: 0 5px
            width: 230px
            height: 277px      
            &:nth-child(4)
                border-right: none
            &:nth-child(8)
                border-right: none
            &:hover
                padding: 0 5px
                .services__item-inner
                    margin: 5px 0 
                    padding: 10px 3px 5px 
                    min-height: 255px
