.promo 
    min-height: 193px
    background: url(../img/promo/promo__bg.jpg) center center/cover no-repeat


.top-slider
    background: #4A4A4A
    // &__item 
    &__title
        font-weight: 400
        font-size: 28px
        text-align: center
        color: #fff 


