.promo 
    min-height: 193px
    background: url(../img/promo/promo__bg.jpg) center center/cover no-repeat


.top-slider
    background: #4A4A4A
    // &__item 
    &__title
        padding: 36px 0 28px 
        font-family: 'RobotoCondensed-Regular'
        font-size: 1.75em
        font-weight: 400
        text-transform: uppercase
        text-align: center
        line-height: 100%
        letter-spacing: 0.1em
        color: #fff 


